<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="{% url 'create_order' %}">Создать заказ</a>
<a href="{% url 'delete_order' %}">Удалить заказ</a>
<br>

{% for message in messages %}
<p> {{ message }} </p>
{% endfor %}

    <h3>Заказы пользователя {{ user_name }} (id{{ user_id }})</h3>

{% for order in orders %}
    <h4>Заказ номер {{ order.id }}:</h4>
    {% for product in order.products.all %}
        {{ product.name }} - {{ product.qty }} шт.<br>
    {% endfor %}
    <p> Создан: {{ order.register_date }}</p>
{% endfor %}

<h3>Итого товаров в заказах:</h3>
{% for key, value in total_products.items %}
    {% for product in products %}
        {% if product.id == key %}
            {{ product.name }} - {{ value }} шт.<br>
        {% endif %}
    {% endfor %}
{% endfor %}



</body>
</html>